<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.6/build/pure-min.css" integrity="sha384-Uu6IeWbM+gzNVXJcM9XV3SohHtmWE+3VGi496jvgX1jyvDTXfdK+rfZc8C1Aehk5" crossorigin="anonymous">
		<title>YeetCode</title>
		<style type="text/css">
			body {
			    margin: 10px 5px 5px 15px;
			}
		</style>
	</head>
	<body>
		<img width=240px height=160px src="{{ url_for('static', filename='yeetcode.png') }}"/>
		<h2>Here is your private infrastructure service</h2>
		<p>
			You can check if some artists are in database! Definetely check 'Rick Astley', oh also we have some spare flags in it but I don't think i will share them :)
		</p>
		<a href="/yeet"><button style="border-radius: 5px;" class="pure-button pure-button-primary">Try Now</button></a>
	</body>
</html>